{{template "layouts/default"}}

{{define "title"}}Static Site Template{{end}}
{{define "description"}}Look around, you'll find it sparkly and nice.{{end}}

{{define "content"}}
<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-head">
    <div class="container"></div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{template "title"}}
      </h1>
      <h2 class="subtitle">😎</h2>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container"></div>
  </div>
</section>
{{end}}
